{% extends 'home/base.html' %}
{% load static %}
{% block title %} {{blog.title}} {% endblock %}

{% block content %}
<main id="main">

    <!-- ======= Blog Single ======= -->
    <div class="main-content paddsection">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="container-main single-main">
                            <div class="col-md-12">
                                <div class="block-main mb-30">
                                    <div class="journal-txt mb-2">
                                        <h2><a href="#">{{blog.title}}</a></h2>
                                        <h4 class="mb-30 fw-bold">{{blog.sapo}}</h4>
                                    </div>
                                    <img src="{{blog.thumbnail.url}}" class=" w-100 img-responsive" alt="reviews2">
                                    <div class="content-main single-post padDiv">
                                        <div class="post-meta">
                                            <ul class="list-unstyled mb-0">
                                                <li class="author">by:<a href="#">medsign</a></li>
                                                <li class="date">date:<a href="#">March 31, 2017</a></li>
                                                <li class="commont"><i class="ion-ios-heart-outline"></i><a href="#">3 Comments</a></li>
                                            </ul>
                                        </div>
                                        <blockquote class="fst-italic">{{blog.note}}</blockquote>
                                        <p class="mb-30">{{blog.contents}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <!--                  <div class="comments text-left padDiv mb-30">-->
                                <!--                    <div class="entry-comments">-->
                                <!--                      <h6 class="mb-30">4 comments</h6>-->
                                <!--                      <ul class="entry-comments-list list-unstyled">-->
                                <!--                        <li>-->
                                <!--                          <div class="entry-comments-item">-->
                                <!--                            <img src="assets/img/avatar.jpg" class="entry-comments-avatar" alt="">-->
                                <!--                            <div class="entry-comments-body">-->
                                <!--                              <span class="entry-comments-author">Sommer Christian</span>-->
                                <!--                              <span><a href="#">fev 14, 2018 at 12:48 pm</a></span>-->
                                <!--                              <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam justo, ullamcorper tincidunt pellentesque in, condimentum ut enim. Aenean at pharetra diam, quis vulputate urna. </p>-->
                                <!--                              <a class="rep" href="#">Reply</a>-->
                                <!--                            </div>-->
                                <!--                          </div>-->
                                <!--                          <ul class="entry-comments-reply list-unstyled">-->
                                <!--                            <li>-->
                                <!--                              <div class="entry-comments-item">-->
                                <!--                                <img src="assets/img/avatar.jpg" class="entry-comments-avatar" alt="">-->
                                <!--                                <div class="entry-comments-body">-->
                                <!--                                  <span class="entry-comments-author">Sara Smith</span>-->
                                <!--                                  <span><a href="#">fev 14, 2018 at 12:51 pm</a></span>-->
                                <!--                                  <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam justo, ullamcorper tincidunt pellentesque in, condimentum ut enim. Aenean at pharetra diam, quis vulputate urna.</p>-->
                                <!--                                  <a class="rep" href="#">Reply</a>-->
                                <!--                                </div>-->
                                <!--                              </div>-->
                                <!--                            </li>-->
                                <!--                          </ul>-->
                                <!--                        </li>-->
                                <!--                        <li>-->
                                <!--                          <div class="entry-comments-item">-->
                                <!--                            <img src="assets/img/avatar.jpg" class="entry-comments-avatar" alt="">-->
                                <!--                            <div class="entry-comments-body">-->
                                <!--                              <span class="entry-comments-author">Andrew Lupkin</span>-->
                                <!--                              <span><a href="#">fev 14, 2018 at 12:55 pm</a></span>-->
                                <!--                              <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam justo, ullamcorper tincidunt pellentesque in, condimentum ut enim. Aenean at pharetra diam, quis vulputate urna. </p>-->
                                <!--                              <a class="rep" href="#">Reply</a>-->
                                <!--                            </div>-->
                                <!--                          </div>-->
                                <!--                        </li>-->
                                <!--                      </ul>-->
                                <!--                    </div>-->
                                <!--                  </div>-->
                            </div>

                            <div class=" bg-white col-lg-12">
                                {% include 'home/contact.html'%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Blog Single -->

</main><!-- End #main -->

{% endblock %}

