<!-- ======= Hero Section ======= -->
<div id="hero" class="home">

  <div class="container">
    <div class="hero-content">
      {% for set in setting %}
      <h1><span style="color:red;">I'm</span> <span>{{ set.myname }}</span></h1>
      <p><span class="typed" data-typed-items="{{ set.job }}"></span></p>

      <ul class="list-unstyled list-social">
        <li><a href="{{set.facebook}}" target="_blank"><i class="bi bi-facebook"></i></a></li>
        <li><a href="#"><i class="bi bi-youtube"></i></a></li>
        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
      </ul>
      {% endfor %}
    </div>
  </div>
</div><!-- End Hero -->